<div class="container">
  <h4>Separate wallets by device <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#addModal">add</button>
    <button type="button" {{ action "pop" }} class="btn btn-danger btn-sm" style="float: right;">apply</button>
  </h4>
  <!-- Modal -->
  <div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="addModal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">

          <h5 class="modal-title" id="addModal">Ip Input</h5>
          <ul class="errors">
            {{#each errors as |error|}}
              <li>{{error.message}}</li>
            {{/each}}
          </ul>
        </div>
        <div class="modal-body">
          <div class="input-group">
            <label for="devid">Dev ID:  </label>
            {{input value=devid change=(action "required") placeholder="0x..." name="devid"}}
            <br>
            <label for="subid">Sub ID:  </label>
            {{input value=subid change=(action "required") placeholder="0x..." name="subid"}}
            <br>
            <label for="spinner">Add Amount:</label>
            {{numeric-input value=amount id="spinner" maxlength="2"}}
            <br>
            <label for="checkbox">Add Inbound ID:</label>
            {{input type="checkbox"  value=allowid checked=allowid}}

          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" {{ action "add" }} data-dismiss="modal" class="btn btn-primary">ADD</button>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="stats">
      <h4>Your Stats &amp; Payment History</h4>
      <div class="input-group">
        {{input value=cachedDevId class="form-control" placeholder="Enter Your Dangnn Address"}}
        <span class="input-group-btn">
          <button class="btn btn-primary" type="button" {{action 'search' cachedDevId}}>
            <span style="display: inline;"><i class="fa fa-search"></i> Search</span>
          </button>
        </span>
      </div>
    </div>
  </div>

  {{#if model.devlist}}
  <div class="table-responsive">
    <table class="table table-condensed table-striped">
      <thead>
        <tr>
          <th>DevID</th>
          <th>SubDevID</th>
          <th>amount</th>
          <th>X</th>
        </tr>
      </thead>
      <tbody>
        {{#each model.devlist as |devs|}}
          <tr>
            <td>
              {{devs.DevAddr}}
            </td>
            <td>
              {{devs.SubAddr}}
            </td>
            <td>
              {{devs.Amount}}
            </td>
            <td>
              <button {{action "delete" devs.DevAddr devs.SubAddr}} class="btn btn-danger btn-sm">delete</button>
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
  {{else}}
  <h3>No Search List yet</h3>
  {{/if}}



</div>