<div class="container">
  {{#if model.inbounds}}
  <h4>InBound IP List <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#addModal">add</button>
    <button type="button" {{ action "pop" }} class="btn btn-danger btn-sm" style="float: right;">apply</button>
  </h4>

  <!-- Modal -->
  <div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="addModal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">

          <h5 class="modal-title" id="addModal">Ip Input</h5>
          <ul class="errors">
            {{#each errors as |error|}}
              <li>{{error.message}}</li>
            {{/each}}
          </ul>
          {{!-- <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button> --}}
        </div>
        <div class="modal-body">
          <div class="input-group">
            <label for="comment">IP:  </label>
            {{input value="" change=(action "required") placeholder="xxx.xxx.xxx.xxx" name="ip" pattern="^((\d|[1-9]\d|1\d\d|2[0-4]\d|25[0-5])\.){3}(\d|[1-9]\d|1\d\d|2[0-4]\d|25[0-5])$"}}
            <br>
            <label for="sel1">Access: </label>
            <select onchange={{action (mut selectedRule) value='target.value'}}>
              {{#each options as |option|}}
                <option value={{option}}>{{option}}</option>
              {{/each}}
            </select>
            {{!-- <select class="dropdown" id="sel1">
              <option>Allow</option>
              <option>deny</option>
            </select> --}}
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" {{ action "add" }} data-dismiss="modal" class="btn btn-primary">ADD</button>
        </div>
      </div>
    </div>
  </div>

  <div class="table-responsive">
    <table class="table table-condensed table-striped">
      <thead>
        <tr>
          <th>IP</th>
          <th>Allowed</th>
          <th>X</th>
        </tr>
      </thead>
      <tbody>
        {{#each model.inbounds as |inbound|}}
          <tr>
            <td>
              {{inbound.Ip}}
            </td>
            <td>
              {{#if inbound.Allowed}}
                allow
              {{else}}
                deny
              {{/if}}
            </td>
            <td>
              <button {{ action "delete" inbound.Ip}} class="btn btn-danger btn-sm">delete</button>
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
  {{else}}
  <h3>No inboud List yet</h3>
  {{/if}}
</div>